body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    overflow: hidden;
    
}
iframe{
    user-select: none;
    overflow: hidden;
}
#mainSection {
    white-space: nowrap;
    scrollbar-width: none;
    width: 1366px;
    height: 1024px;
    position: absolute;
    left: 0;
    top: 0;
    scroll-snap-type: x mandatory;
    overflow: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    
}

#toolSection{
    width: 0%;
    height: 0%;
    background-color: transparent;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#scrollBarSection {
    scrollbar-width: none;
    position: absolute;
    top: 988px;
    left: 0;
    height: 30px;
    width: 1366px;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}


.scrollBarGroup {
    display: inline-flex;
    scroll-snap-align: center;
    align-items: center;
    justify-content: flex-start;
    width: 1366px;
    height: 100%;
}

#scrollBar {
    position: absolute;
    height: 12px;
    scale: 0.95;
    top: 9.4px;
    border-radius: 5.5px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
}

.scrollBarBG {
    height: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageBtn {
    width: 100px;
    height: 998px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#prePageBtn{
    position: absolute;
    left: 0;
    top: 0;
}

#nextPageBtn {
    position: absolute;
    top: 0;
    left: 1266px;
}

#mainSection iframe{
    scroll-snap-align: center;
}

#pageNumSection{
    width: 100px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
    position: relative;
    top: 595px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s cubic-bezier(.6,0,.4,1);
    overflow: hidden;
}

#pageNumContainer{
    width: 80px;
    height: 60px;
    border-radius: 20px;
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(.6,0,.4,1);
}

#pageNumTextarea{
    background-color: #efefef;
    backdrop-filter: blur(30px);
    border: none;
    text-align: center;
    resize:none;
    display: none;
    scrollbar-width: none;
    align-content: center;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #101010;
    position: absolute;
    z-index: 10;
}

#pageNumTextarea:focus {
    border: 0;
    outline: 0;
}

#pageNum{
    font-family: 'Taipei';
    height: 100%;
    font-size: 32px;
    color: #efefef;
    display: flex;
    align-items: center;
    padding-left: 22px;
    transition: all 0.3 cubic-bezier(.6,0,.4,1);
    user-select: none;
}

#lockControl{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
    position: absolute;
    left: 1266px;
    top: 50px;
    scale: 1;
    transition: all 0.3s cubic-bezier(.6,0,.4,1.25);
    z-index: 2;

}

#lockControl #lock1{
    width: 18px;
    height: 14.7px;
    position: absolute;
    top: 22px;
    left: 16px;
    filter: brightness(0.94);
    transition: filter 0.3s cubic-bezier(.6,0,.4,0), top 1s cubic-bezier(.6,0,.4,1.25);
}

#lockControl #lock2 {
    width: 13px;
    height: 15.6px;
    position: absolute;
    top: 9px;
    left: 19px;
    transform: rotateY(0deg);
    filter: brightness(0.94);
    transition: filter 0.3s cubic-bezier(.6,0,.4,0), top 1s cubic-bezier(.6,0,.4,1.25);
}

#lockWake {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 1266px;
    border: 0;
    background-color: transparent;
    display: none;
    z-index: 2;
}

#showControl{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
    position: absolute;
    left: 50px;
    top: 50px;
    scale: 1;
    transition: all 0.3s cubic-bezier(.6,0,.4,1.25);
    z-index: 2;

}

#showControl #show{
    width: 70%;
    height: 70%;
    position: absolute;
    left: 15%;
    top: 15%;
    filter: brightness(1);
    mask: url(#showSplash2Mask);
    mask-composite: subtract;
    transition: all 0.3s cubic-bezier(.6,0,.4,1);
}

#splash{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
    transform: translate(0%, 0%);
    border-radius: 1.5px;
    overflow: hidden;
}

#showSplash{
    width: 40px;
    height: 40px;
    rotate: -45deg;
    position: absolute;
    left: -5px;
    top: -5px;
    transition: all 0.3s cubic-bezier(.6,0,.4,1);
    display: none;
}

#showSplash2{
    width: 40px;
    height: 40px;
    position: absolute;
    left: -5px;
    top: -5px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#showSplash2Mask2 {
    rotate: -45deg;
    scale: 0.1;
    display: none;
}

#showWake {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(.6,0,.4,1);
    display: none;
    z-index: 2;
}


.shake{
    animation: shake 0.5s cubic-bezier(.6,0,.6,1.5);
}

.showShake{
    animation: showShake 1s cubic-bezier(.6,0,.4,1);
}

.showSplashIn{
    animation: showSplashIn 1s cubic-bezier(.6,0,.4,1);
}

.showSplashOut{
    animation: showSplashOut 1s cubic-bezier(.6,0,.4,1);
}

#pageNumMenuSection{
    width: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageNumMenuBG {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(100px);
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    animation: opticityIn 0.5s cubic-bezier(.6,0,.4,1);
}

.pageNumMenu {
    width: 400px;
    height: 280px;
    margin-top: 30px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0);
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    user-select: none;
    position: relative;
    top: 650px;
    transition: all 0.5s cubic-bezier(.6,0,.4,1);
}

.pageNumMenu .btn {
    width: 100%;
    height: 25%;
    border: 0;
    border-bottom: 1px solid rgba(150, 150, 150);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    font-weight: bold;
    user-select: none;
    text-align: left;
    align-content: center;
    color:#efefef;
    backdrop-filter: blur(10px);
    padding-left: 30px;
}
.pageNumMenu .btn:active {
    background-color: rgba(0, 0, 0, 0.35);
    user-select: none;
}

#btn4 {
    border: 0;
    border-bottom: 0;
    color: #f4442e;
}

.btn .icon{
    width: 42.45px;
    height: 42.45px;
    position: absolute;
    top: 14.15px;
    left: 343.4px;
}

#pageNumContent {
    width: 820px;
    height: 0px;
    position: relative;
    left: 0;
    top: 0px;
    transition: all 0.5s cubic-bezier(.6,0,.4,1);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
    overflow: hidden;
}

.title{
    position: relative;
    left: 0;
    width: 100%;
    height: 100px;
    color: #efefef;
    text-align: center;
    align-content: center;
    font-family: 'Taipei';
    font-size: 38px;
    font-weight: bold;
}

#pageEdit {
    width: 533px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.pageEditContent{
    width: 533px;
    height: 400px;
    background-color: transparent;
    scroll-snap-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pageEditText{
    background-color: transparent;
    border: none;
    text-align: center;
    resize:none;
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 45px;
    font-weight: bold;
    color: #efefef;
    padding: 0 20px;
    font-family: 'MyFont';
}

.pageEditText:focus{
    border: 0;
    outline: 0;
}

#pageScroll{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

#pageScroll #container {
    white-space: nowrap;
    width: 594px;
    height: 40px;
    overflow: scroll;
    scrollbar-width: none;
    mask: url(#pageNumMaask);
    mask-composite: subtract;
}

#pageNum2{
    font-family: 'Taipei';
    height: 100%;
    font-size: 32px;
    color: #efefef;
    display: flex;
    align-items: center;
    transition: all 0.3 cubic-bezier(.6,0,.4,1);
    user-select: none;
    white-space: none;
    position: relative;
    left: 0;
    top: 0;
}

#selectorSquare{
    width: 60px;
    height: 60px;
    border-left: 1px solid rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(255, 255, 255, 1);
    position: absolute;
    left: 380px;
    top: 520px;
}

.selectorBtns{
    width: 67.5px;
    height: 60px;
    border: 0;
    background-color: transparent;
}

#selectorBtn1{
    position: absolute;
    left: 110px;
    top: 520px;
}

#selectorBtn2{
    position: absolute;
    left: 177.5px;
    top: 520px;
}

#selectorBtn3{
    position: absolute;
    left: 245px;
    top: 520px;
}

#selectorBtn4{
    position: absolute;
    left: 312.5px;
    top: 520px;
}

#selectorBtn5{
    position: absolute;
    left: 440px;
    top: 520px;
}

#selectorBtn6{
    position: absolute;
    left: 507.5px;
    top: 520px;
}

#selectorBtn7{
    position: absolute;
    left: 575px;
    top: 520px;
}

#selectorBtn8{
    position: absolute;
    left: 642.5px;
    top: 520px;
}

#selectorBtn9{
    position: absolute;
    left: 42.5px;
    top: 520px;
    color: #efefef;
    font-size: 20px;
    font-family: monospace;
}

#selectorBtn10{
    position: absolute;
    left: 710px;
    top: 520px;
    color: #efefef;
    font-size: 20px;
    font-family: monospace;
}

#selectorTextarea{
    background-color: #efefef;
    backdrop-filter: blur(30px);
    border: none;
    text-align: center;
    resize:none;
    display: none;
    align-content: center;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    font-size: 32px;
    font-weight: bold;
    color: #101010;
    position: absolute;
    left: 383px;
    top: 523px;
    z-index: 10;
}

#selectorTextarea:focus{
    border: 0;
    outline: 0;
}

.pageNumMenuBG .section1 {
    width: 600px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(60px);
    border-radius: 30px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: scaleIn 0.4s;
    overflow: hidden;
}
.section1 .content {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content .add {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(30px);
    font-size: 34px;
    color: #efefef;
    scale: 1;
    transition: all 0.15s cubic-bezier(.6,0,.4,1.25);
}
.add:active{
    scale: 1.1;
}

.content .textarea {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgb(172, 172, 172);
    margin-left: 50px;
    margin-right: 50px;
    font-size: 72px;
    text-align: center;
    align-content: center;
    color: #efefef;
    resize: none;
}

.textarea:focus{
    outline: 0;
}

.content .sub {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(30px);
    font-size: 34px;
    color: #efefef;
    scale: 1;
    transition: all 0.15s cubic-bezier(.6,0,.4,1.25);
}
.sub:active{
    scale: 1.1;
}

.subtitle {
    width: 100%;
    height: 120px;
    color: rgb(204, 204, 204);
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    align-content: center;
    white-space: break-spaces;
    user-select: none;
}

.section1 .btn1 {
    width: 100%;
    height: 80px;
    border: 0;
    border-top: 1px solid rgba(150, 150, 150);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(10, 132, 255);
    font-size: 28px;
    font-family: 'Taipei';
}

.section1 .btn1:active{
    color: rgb(83, 169, 255);
}

.textareaChange{
    animation: textareaChange 0.3s cubic-bezier(.6,1,.4,0);
}

.pageNumMenuBG .section2 {
    width: 800px;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(60px);
    border-radius: 30px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: scaleIn 0.4s;
    overflow: hidden;
}

.section2 .content {
    width: 680px;
    height: 580px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section2 .btns{
    width: 100%;
    height: 80px;
    margin-top: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    border-top: 1px solid rgba(150, 150, 150);
}

.btns .btn{
    width: 50%;
    height: 100%;
    color: rgb(10, 132, 255);
    font-size: 28px;
    border: 0;
    border-right: 1px solid rgba(150, 150, 150);
    background-color: transparent;
}

.btns .btn1{
    color: #f4442e;
}

.btns .btn1:active{
    color: #eb7060;
}

.btns .btn2{
    border-right: 0;
}

.btns .btn2:active{
    color: rgb(83, 169, 255);
}

.section2 .content .textarea {
    width: 640px;
    height: 540px;
    margin: 0;
    margin-top: 10px;
    color: #efefef;
    font-size: 30px;
    resize: none;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    text-align: left;
    align-content: flex-start;
    scrollbar-width: none;
}

.section2 .preViewContent {
    width: 680px;
    height: 480px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
    scrollbar-width: none;
}

.section2 .preViewContent .preViewText {
    width: 640px;
    height: 540px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 0;
    padding-bottom: 20px;
    color: #efefef;
    line-height: 1.5;
    font-size: 26px;
    resize: none;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    text-align: left;
    align-content: flex-start;
    scrollbar-width: none;
    white-space: break-spaces;
}

.section2 .preViewBtns{
    width: 100%;
    height: 80px;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    border-top: 1px solid rgba(150, 150, 150);
}

.preViewBtns .btn{
    width: 50%;
    height: 100%;
    color: rgb(10, 132, 255);
    font-size: 28px;
    border: 0;
    border-right: 1px solid rgba(150, 150, 150);
    background-color: transparent;
}

.preViewBtns .btn1{
    color: #f4442e;
}

.preViewBtns .btn1:active{
    color: #eb7060;
}

.preViewBtns .btn2{
    border-right: 0;
}

.preViewBtns .btn2:active{
    color: rgb(83, 169, 255);
}

@font-face {
    font-family: 'Taipei';
    src: url('../font/Taipei-Bold.woff');
    font-display: swap;
}


@font-face {
    font-family: 'MyFont';
    src: url('../font/SourceHanSerifTW-Heavy.woff');
    font-display: swap;
}

@keyframes shake {
    10%, 90% {transform: translateX(-1px);}
    20%, 80% {transform: translateX(-2px);}
    30%, 70% {transform: translateX(-4px);}
    40%, 60% {transform: translateX(4px);}
    50% {transform: translateX(-4px);}
}

@keyframes showShake {
    70%, 90% {transform: rotate(3deg);}
    50%, 80% {transform:  rotate(0deg);}
}


@keyframes showSplashIn {
    from {
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes showSplashOut {
    from {
        transform: translateY(0);
    }
    to{
        transform: translateY(100%);
    }
}

@keyframes opticityIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opticityOut {
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    from{
        transform: translateY(300px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes slideOut {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(1000px);
    }
}

@keyframes scaleIn {
        
    from { transform: scale(0); opacity: 0; animation-timing-function: cubic-bezier(0.6, 0, 0.2, 1.25);}
    to { transform: scale(1); opacity: 1; animation-timing-function: cubic-bezier(0.6, 0, 0.2, 1.25);}
    
}

@keyframes scaleOut {
    from { transform: scale(1); opacity: 1; animation-timing-function: cubic-bezier(0.6, -0.25, 0.6, 1);}
    to { transform: scale(0); opacity: 0; animation-timing-function: cubic-bezier(0.6, -0.25, 0.6, 1);}
}

@keyframes textareaChange {
    0%,100%{scale: 1;}
    50%{scale: 1.1;}
}